*
  margin 0
  padding 0
  text-decoration none

body
  font-family 'Segoe UI'
  font-weight lighter

header
  height 60px
  background #292B36
  color #ffffff
  padding 0 50px
  .logo
    line-height 55px
    float left
    font-size 15pt
  .menu
    padding-top 12px
    float right
    font-size 10pt
    li
      display inline-block
      margin 0 5px
    a
      display block
      color inherit
      text-decoration none
      padding 8px
      &:hover
        border-bottom 2px solid

.title
  font-size 14pt
  margin-bottom 15px
  display inline-block

.total-info
  display inline-block
  margin-left 30px
  font-size 10pt
  #steps
    display inline-block
    margin-right 20px
  #distance
    display inline-block

.sub-menu
  margin auto
  .title
    font-size 18pt
    text-align center
    margin-top 20px
  .menu
    text-align center
    margin-top 20px
    font-size 12pt
    li
      display inline-block
      margin 0 20px
    a
      text-decoration none
      color #1785e6

aside
  float right
  font-size 14pt

.summaries
  margin-top 15px
  width 300px
  .list-title
    background #292B36
    color #AEAEAE
    font-size 11pt
    padding 5px 10px
  .list
    li
      list-style none
  .sub-list
    font-weight normal
    li
      width 100%
      display inline-block
      padding 10px 0
      font-size 10pt
      border-bottom 1px solid #aeaeae
      &:first-child
        float left
        width 33%
        padding-left 10px
      &:nth-child(2)
        float left
        width 30%
        text-align center
      &:last-child
        float left
        width 33%
        text-align right
        span
          color #4bbb61

.chart
  font-size 14pt
  width 70%
  .buttons
    a
      display inline-block
      margin 0 10px
      padding 5px 15px
      font-size 12pt
      background #333
      color #fff
      &:hover
        background rgba(0,200,88,0.8)
        color #ffffff

.wrapper
  margin auto
  width 1200px